/* Cabecera */
.cabecera{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    background-color: #580092;
    z-index: 15;
}
.logo{
    background-image: url(logo_cybershop.jpg);
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    background-size:162px;
    background-position-x: 50.3%;
    background-position-y:45%;
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 50%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}
/* Titols */
.titulos {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    position: absolute;
    margin-top: -80px;
    margin-left: 10%;
    display: flex;
}
.quisom{
    margin-left: 25px;
}
.envios{
    margin-left: 25px;
}
.productes{
    margin-left: 25px;
}
.contacte {
    margin-left: 25px;
}
/*Fi tituls*/

    /* Iconos header */
.iconos_header{
    margin-left: 70%;
    width: 30%;
    height: 100px;
    margin-top: -70px;
}
.twitter_ico_header{
    background-image: url(twitter.png);
    background-repeat: no-repeat;
    background-size: 40px;
    height: 40px;
    width: 40px;
    background-color: #ede0ff;
    margin-top: 15px;
    margin-left: 15px;
    position: absolute;
    border-radius: 50%;
}
.facebook_ico_header{
    background-image: url(facebook.png);
    background-repeat: no-repeat;
    background-size: 40px;
    height: 40px;
    width: 40px;
    background-color: #ede0ff;
    margin-top: 15px;
    margin-left: 105px;
    position: absolute;
    border-radius: 50%;
}
.instagram_ico_header{
    background-image: url(instagram.png);
    background-repeat: no-repeat;
    background-size: 40px;
    height: 40px;
    width: 40px;
    background-color: #ede0ff;
    margin-top: 15px;
    margin-left: 195px;
    position: absolute;
    border-radius: 50%;
}
.linkedin_ico_header{
    background-image: url(linkedin.png);
    background-repeat: no-repeat;
    background-size: 40px;
    height: 40px;
    width: 40px;
    background-color: #ede0ff;
    margin-top: 15px;
    margin-left: 285px;
    position: absolute;
    border-radius: 50%;
}
.settings_ico_header{
    background-image: url(engranaje.png);
    background-repeat: no-repeat;
    background-size: 40px;
    height: 40px;
    width: 40px;
    margin-top: 15px;
    margin-left: 375px;
    position: absolute;
}
    /* Iconos header */

/* Fin cabecera */








/*Pagina Principal*/
.fondo{
    width: 101%;
    height: 20000px;
    background-color: #7E2FB3;
    justify-content: center;
    display: flex;
    top: 0px;
    margin-left: -10px;
}
.principal {
    width: 2000px;
    height: 20000px;
    justify-content: center;
    display: block;
    top: 0px;
    margin-left: -10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 10;
}
.Titulo1 label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:50px;
    font-weight: 600;
    color: #FF33FF;
    text-shadow:5px 5px 5px #580092;
}
.Titulo2 label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:50px;
    font-weight: 600;
    text-shadow:5px 5px 5px #580092;
    height: 500px;
    line-height: 100px;
}
.subtitulo label{
    color: #d1d1d1;
    font-size: 30px;
}
.CajaTextosInicio{
    margin-left: 20%;
    margin-right: 45%;
    margin-top: 200px;
}
.ona1 {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 20000px;
    background: radial-gradient(circle, #01253d 97%, transparent 90.5%);
    background-size: 200px 200px; /* Ajusta el tamaño de los círculos */
    pointer-events: none; /* Permite que el fondo no interfiera con los eventos del mouse */
    animation: animateBackgroundX 300s linear infinite, animateBackgroundY 200s linear infinite; /* Ajusta la velocidad y duración de la animación */
}
@keyframes animateBackgroundX {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}

/* Animación para mover los círculos en el eje Y */
@keyframes animateBackgroundY {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 400% 100%;
    }
}

/* Botons descarrega */
.descarrega {
    width: 420px;
    height: 60;
    margin-top: 50px;
    display: flex;

}
.playstore {
    background-image: url(playstore1.png);
    background-repeat: no-repeat;
    background-size: 200px;
    width: 200px;
    height: 60px;
    margin-left: 20px;
    border-radius: 10px;  
    
}
.appstore {
    background-image: url(appstore.png);
    background-repeat: no-repeat;
    background-size: 200px;
    width: 200px;
    height: 60px;
    border:0cm ;
    border-radius: 10px;
    border-color: white;
}
/*Fi botons descarrega*/

/* Estadistiques */
.estadistiques_marco {
    width: 2000px;
    height: 200px;
    display: flex;
    margin-top: 100px;
    top: 700px;
    align-items: center;
    justify-content: center;
}
.titulo_estadistiques{
    width: 500px;
    height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #FF33FF;
    font-size: 48px;
}
.contenido_estadistiques{
    width: 500px;
    height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #9b89ff;
    font-size: 20px;
}
.separador_estadistiques{
    margin-left: -20px;
    width: 2px;
    height: 100%;
    background-color: gray;
}

/*Fi estadistiques*/

/* Apartat 1*/
.quisom2 {
    width: 2000px;
    height: 2500px;
    margin-top: 250px;
    justify-content: center;
    display: block;
    text-align: center;
}
.TituloQuiSom label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:50px;
    font-weight: 600;
    color: #FF33FF;
    text-shadow:5px 5px 5px #580092;
    text-align: center;
}
.alturas{
    display: flex;
}
.cajaizquierda{
    width: 1000px;
    height: 1000px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: block;
}
.cajaderecha{
    width: 1000px;
    height: 1000px;
    justify-content: center;
    display:flex;
}
.PC1{
    background-image: url(PC1.png);
    width: 500px;
    height: 500px;
    background-size: cover;
}
.PC1_fondo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(ellipse at center, #e570e7 0%,#01253d 52%,#01253d 102%,#a849a3 99%);
    background-size: cover;
}
.Titulo1_QuiSom{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:50px;
    font-weight: 600;
    color: #FF33FF;
    width: 700px;
    margin-left: 150px;
    margin-right: 150px;
}
.Titulo2_QuiSom{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:30px;
    font-weight: 300;
    width: 700px;
    color: #9b89ff;
    margin-left: 150px;
}
.PC2{
    background-image: url(OIP-removebg-preview.png);
    width: 500px;
    height: 500px;
    background-size: cover;
}
/*Fi apartat 1*/

/* Apartat 2
.Video {
}
.Titulo1_Video {
    
}
.Titulo2_Video {

}
.Link_Video{
    
}
Fi apartat 2*/









/* Apartat 3*/

/*Fi apartat 3*/














/*Fin pagina principal*/



/* Tienda */
.caja{
    background-color: white;
    width: 20%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    height: 400px;
    position: absolute;
}
.cajas{
    width: 100%;
}
/* Fin Tienda*/